<div class="bg-[#162930] text-white p-5">
    <div class="flex flex-wrap justify-between items-start">
      
      <!-- Logo and Links Section -->
      <div class=" gap-10 items-center ">
        <div >
          <img
            src="assets/dom2.png"
            alt="Domino's Logo"
            class="h-10 object-contain"
          />
        </div>
        <div class="flex flex-wrap gap-5 pt-3 pr-5">
          <a href="#" class="text-gray-300 text-sm no-underline hover:underline">Disclaimer</a>
          <a href="#" class="text-gray-300 text-sm no-underline hover:underline">Privacy Policy</a>
          <a href="#" class="text-gray-300 text-sm no-underline hover:underline">Faq</a>
          <a href="#" class="text-gray-300 text-sm no-underline hover:underline">Terms & Conditions</a>
          <a href="#" class="text-gray-300 text-sm no-underline hover:underline">Nutritional Information</a>
        </div>
      </div>
      <!-- App Download Section -->
      <div class="text-right mt-2">
        <p class="m-0 font-bold text-sm">DOWNLOAD APP</p>
        <div class="flex gap-2 mt-1 justify-end">
          <!-- <img src="assets/images/gplay.png" alt="Play Store" class="h-10">
          <img src="assets/images/astore.png" alt="App Store" class="h-10"> -->
          <img src="assets/app-store.png" alt="Download on App Store & Google Play" class="h-6">

        </div>
      </div>
    </div>
    <hr class="border-t border-gray-700 my-5">
    <div class="text-center text-gray-400 text-xs">
      <p class="m-0">All Rights Reserved. Copyright © Jubilant FoodWorks Ltd.</p>
    </div>
  </div>
  